@import "../vendor/mjaalnir-bootstrap-colorpicker/css/bootstrap-colorpicker.css";
@import "../vendor/rickshaw/rickshaw.css";

body {
  padding-top: 50px;

  > .container {
    margin-top: 30px;
  }
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}